h2 {
	font-weight: 600;
	}
	
h3 {
	margin-top: 60px;
	border-bottom: solid 1px #000000;
	}

table.filelist thead {
	font-weight: bold;
	}

table.filelist thead td {
	width: 300px;
	text-align: left;
	font-size: 15px;
	}

table.filelist tr.same {
	display: none;
	}

.diff {
	margin-right: 100px;
	padding: 2px 6px;
	background: #f9f9f9;
	width: auto;
	height: 500px;
	overflow-x: auto;
	overflow-y: auto;
	font-family: Consolas,Monaco,monospace;
	font-size: 13px;
	border-color: #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	}

.did2_ace_ins-line,
.did2_ace_del-line {
	position: absolute;
	z-index: 2;
}

pre.diff ins, .did2_ace_ins-line {
	/* color: green; */
	background: #dfd;
	/* text-decoration: none; */
}

pre.diff del, .did2_ace_del-line {
	/* color: red; */
	background: #fdd;
	/* text-decoration: none; */
}

div#editor {
	height: 500px;
}

.theme_list tr {
	background-color: #FFFFFF;
}

.theme_list tr th {
	padding: 3px 15px;
	
	text-align: left;
	
	background-color: #E1EFD6;
	/*color: #00A29B;*/
	}
	
.theme_list tr.group th {
	text-align: left;
	}
	
.theme_list th.theme_name {
	text-align: left;
	}

.theme_list .theme_name {
	text-align: left;
	}

.theme_list td {
	padding: 0px 15px;

	text-align: right;
	}

.theme_list .theme td.ratio {
	width: auto;
	}

.theme_list .theme td.ratio input {
	width: 60px;
	text-align: right;
	}

.theme_list .theme td.custom_channel_id {
	width: auto;
	
	text-align: center;
	}

.theme_list .theme td.custom_channel_id input {
	width: auto;
	text-align: left;
	}

.theme_list .theme span.val {
	display: inline-block;
	
	width: auto;
	
	text-align: right;
	}

.theme_list .theme div.max {
	display: inline-block;
	
	width: 100px;
	
	margin-left: 10px;
	}

.theme_list .theme div.max span.bar {
	display: block;
	
	background-color: #00A29B;
	color: #FFFFFF;
	}
	
.theme_list .tools {
	display: none;
	
	background-color: transparent;
	}
	
.theme_list .tools .theme_name {
	background-color: #FFFFFF;
	}
	
.theme_list .tools .tool_buttons {
	text-align: left;
	}
	
.theme_list #google_auth {
	text-align: left;
	}